/*Background*/
.yellow {
    background: #FFC501;
    height: 100vh;
}

.faqCont {
    text-align: right;
}

/*Display Nav*/
.faq {
    padding-top: 0.5em;
    padding-right: 0.5em;
    width: 30px;
}

/*Title*/
.dashboard {
    font-size: 45px;
    font-family: 'Fredoka One', cursive;
    color: #fafafa;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 5px;
    width: 100px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.dashboard2 {
    margin-top: -70px;
    margin-left: 30px;
    font-size: 45px;
    font-family: 'Fredoka One', cursive;
    color: #fafafa;
    width: 100px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.pets {
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color: #fafafa;
    margin-left: 30px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.966);
    overflow-x: hidden;
    transition: 0.1s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 1%;
    width: 90%;
    margin: auto;
    text-align: center;
    color: #adadad;
}

.started {
    font-size: 35px;
    font-weight: 400;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 1px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    margin: 10px;
    right: 0;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        position: absolute;
        margin: 10px;
        right: 0;
    }
}

.instructions {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    font-weight: 400;
}