/*Background Color*/
.blueBG {
    background: #00BCE9;
    height: 100vh;
}


/*Title*/
.family {
    font-size: 50px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #fafafa;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: -15px;
    letter-spacing: 3px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.subTitle {
    font-family: 'Fredoka One', cursive;
    color: #fafafa;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*Icon Container*/
.familyLogo {
    text-align: center;
    margin-top: 3em;
    margin: auto;
    width: 70px;
}

/*Icon*/
.pup2 {
    width: 70px;
    border-radius: 50%;
    padding: 10px;
    background-color: #ac3b616e;
    box-shadow: 0px 15px 10px -15px #111;
}

.signUp {
    margin: 0 auto;
    margin-top: -30px;
    padding: 20px;
    padding-top: 4em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.buttonCont {
    margin-top: 1em;
}

/*Create Account Button*/
.createBtn {
    background-color: #fafafa;
    color: #0060ED;
    letter-spacing: 2px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 50px 50px;
    margin: auto;
    width: 65%;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 15px 10px -15px #505050;
}

.bgImage {
    position: fixed;
    bottom: 0;
    margin-bottom: -5px;
}

.image {
    width: 500px;
    margin-left: -20px;
}