.title {
    font-size: 85px;
    font-family: 'Gaegu', cursive;
    color: #000000;
    margin-bottom: -20px;
    text-align: center;
}

.logoCont {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 5em;
}

.slogan {
    font-family: 'Gaegu', cursive;
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.logo {
    width: 200px;
}

.bounce {
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

.button {
    background-color: #eee2dc;
    color: #000000;
    padding: 10px;
    font-family: 'Gaegu', cursive;
    font-size: 20px;
    border-radius: 50px 50px;
    margin: 10px;
    border: 2px solid #000000;
    display: inline-block;
    width: 40%;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    box-shadow: 0px 15px 10px -15px #111;
}

.buttonCont {
    text-align: center;
    margin-top: 2.5em;
    width: 90%;
    padding: 20px;
    margin: auto;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
