/*Title Container*/
.titleContainer {
    margin-top: 4em;
}

/*Title*/
.title {
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    color: #181212;
    margin-bottom: -15px;
    text-align: center;
    letter-spacing: 3px;
}

/*Subtitle*/
.slogan {
    color: #181212;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
}

/*Sign up Container*/
.signUpCont {
    text-align: center;
    margin-top: 2em;
}

/*Button*/
.button {
    background-color: #5479AD;
    color: #fafafa;
    letter-spacing: 2px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 50px 50px;
    margin: 10px;
    width: 60%;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 15px 10px -15px #505050;
}

/*Logo Container*/
.logoCont {
    text-align: center;
    margin-top: 3em;
}

/*Logo*/
.logo {
    width: 350px;
    border-radius: 10%;
    position: absolute;
    left: 0px;
    right: 0;
    margin: auto;
    z-index: -1;
}

/*Logo Container*/
.loginCont {
    bottom: 0;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/*Login Button*/
.loginBtn a {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #181212;
    display: inline-block;
}