.title {
    font-size: 90px;
    font-family: 'Londrina Solid', cursive;
    color: #000000;
    margin-bottom: 0.5em;
    text-align: center;
}

.logoCont {
    text-align: center;
}

.logo {
    width: 180px;
}

.bounce {
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.button {
    background-color: #eee2dc;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px;
    font-family: 'Londrina Solid', cursive;
    font-size: 25px;
    border-radius: 5%;
    margin: auto;
    display: block;
    width: 60%;
    margin-bottom: 10px;
    cursor: pointer;
}

.buttonCont {
    text-align: center;
    margin-top: 2.5em;
}