.blue {
    background:	#5479AD;
    height: 100vh;
}

/*Home Button Container*/
.float {
    text-align: right;
}

/* Home Button Link*/
.previous {
    width: 35px;
    margin-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

/*Link to Home Page*/
.link {
    text-decoration: none;
}

/*Main Title*/
.welcome {
    font-size: 45px;
    font-family: 'Fredoka One', cursive;
    color: #fafafa;
    margin-top: -0.5em;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*Subtitle*/
.login {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #5479AD;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -20px;
}

/*Input fields*/
input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.pure-form {
    margin-top: 3em;
}

.formCont {
    background: #fafafa;
    border-top-right-radius: 53px;
    border-top-left-radius: 53px;
    margin-top: 4em;
    padding: 20px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Submit Button*/
.submit {
    background-color: #fafafa;
    border: 2px solid #5479AD;
    color: #5479AD;
    letter-spacing: 2px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 50px 50px;
    margin: auto;
    margin-bottom: 2em;
    width: 60%;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 15px 10px -15px #505050;
}

.buttonCont {
    text-align: center;
}

/*Dog Image Container*/
.dogImage {
    text-align: center;
    margin-top: 1em;
}

/*Dog Image*/
.pup {
    width: 250px;
    padding: 10px;
}